@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  @apply !scroll-smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
